body{
    width: 90%;
    /* background-color: #616091; */
    /* background-color: hsla(187,6.8%,76.9%,0.9); */
    background-color: hsla(187,6.8%,81.9%);
}
h1{
    color: black;
    /* box-shadow: 5px 5px 3px #000000b3; */
    padding: 5px;
    text-align: center;
    margin: 20px 20px 40px 20px;
    border-radius: 5px;
}
div {
    text-align: center;
    padding: 5px; 
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    background-color: white;
    box-shadow: 5px 5px 3px #000000b3;
    border-radius: 5px;
    /* color: white; */
    /* box-sizing: border-box; */
}
input, button{
    border-radius: 5px;
    border: 1px solid #808080;
    font-size: 25px;
    /* margin-right: 10px; */
}
button {
    /* background: linear-gradient(to right, rgb(47, 106, 185),skyblue); */
    background-color: #1d84e9;
    color: white;
    padding: 2px;
    
}
#task {
    /* display: flex; */
    text-align: center;
    height: 400px;
    /* border: 1px solid black; */
    /* width:50%; */
    margin:auto;
    overflow:auto;
    
}
li {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 10px 10px 0px 10px;
    list-style-type: none;
}
.taskLabel {
    display: inline-block;
    width: 30%;
    /* height: auto; */
    /* display: table-row; */
    /* float:left; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    /* border: 1px solid black; */
   
}
.editBtn {
    background-color: #5f86f1;

}
.dltBtn {
    background-color: #f70808ef;
}
.doneBtn {
    background-color: green;
    color: white;
}
.editBtn, .dltBtn, .doneBtn, .checkbox {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 8%;
    
}  
.checkbox {
    height: 30px;
    width:20px;
    float:left;
    vertical-align: center;
}
